@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?eakfu6');
  src: url('fonts/icomoon.eot?#iefixeakfu6') format('embedded-opentype'),
    url('fonts/icomoon.woff?eakfu6') format('woff'),
    url('fonts/icomoon.ttf?eakfu6') format('truetype'),
    url('fonts/icomoon.svg?eakfu6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e600";
}

body
  font-size 16px
  background-color #349FE3
  //font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  min-height 100%
  position:relative;

header
  overflow hidden

#logo
  float left

.menu
  position: absolute
  right: 0
  background-color blue
  //background-color #33A5D8
  width: 30%;
  height: 100%;


.menu a
  color #ffffff

.menu .arrow
  color #ffffff

.menu ul li
  background-color red
  height: 25%;
  text-align: right;
  padding-right: 6%;
  padding-top: 1em;
  font-size: 3em;
  font-weight: bold;


